.item {
  background-color: cadetblue;
  border: 2px solid black;
  border-radius: 10px;
  border-color: blueviolet;
  padding: 20px;
  text-align: center;
}

.item img {
  width: 100px;
  height: 120px;
  border-radius: 30px;
  object-fit: cover;
}
